.header {
	height: 10vh;
	background-color: var(--yellow-light);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
}

.logoContainer {
	display: flex;
	align-items: baseline;
	font-size: var(--font-size-xxl);
	padding: var(--spacing-m);
	margin-left: var(--spacing-s);
}

.pl {
	font-size: var(--font-size-l);
	padding: var(--spacing-s);
}
