@import 'colors';
@import 'sizes';

.header {
  height: 10vh;
  background-color: $yellow-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.logoContainer {
  display: flex;
  align-items: baseline;
  padding: $spacing-m;
  margin-left: $spacing-s;
  cursor: pointer;
}
