@import 'breakpoints';
@import 'sizes';

.message {
  font-size: $font-size-xl;
  top: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint_m {
    font-size: $font-size-xxl;
  }
}
