.container {
	border-bottom: 1px solid var(--orange);
	color: var(--brown);
	padding-top: var(--spacing-m);
	padding-bottom: var(--spacing-m);
	margin-right: var(--spacing-m);
	margin-left: var(--spacing-m);
}

.fixture {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
