@import 'sizes';

.container {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  justify-items: center;
  align-items: center;
  margin-bottom: $spacing-l;
}

.vs {
  font-size: $font-size-xs;
}
