.chevronIcon {
	transition: transform 200ms ease-in-out;
}

.collapseChevronIcon {
	transform: rotate(-180deg);
}

.collapseButton {
	color: var(--brown);
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	-webkit-tap-highlight-color: transparent;
}
