@import 'colors';
@import 'sizes';

.container {
  padding: $spacing-m;
  margin-bottom: $spacing-m;
  background-color: $white;
  border-radius: $spacing-s;
  cursor: pointer;
  background-position: center;
  transition: background 0.8s;
  outline: none;

  &:active {
    background-color: $orange-light;
    background-size: 100%;
    transition: background 0s;
  }
}
