@import 'breakpoints';

.container {
  @include breakpoint_m {
    grid-template-columns: 50% 50%;
  }
}

.emptyList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
