@import 'colors';
@import 'sizes';
@import 'breakpoints';

.mainContainer {
  top: 10vh;
  bottom: 3vh;
  overflow: auto;
  position: fixed;
  width: 100%;
  background-color: $white-darker;
}

.content {
  margin: $spacing-m;

  @include breakpoint_m {
    margin: $font-size-xl;
  }
}
