.betDetailsList {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.betDetailsItem {
	margin-top: var(--spacing-s);
	margin-bottom: var(--spacing-s);
}

.betDetailsVisible {
	max-height: 400px;
	transition: all 0.2s ease-in-out;
}

.betDetailsHidden {
	max-height: 0;
	overflow: hidden;
}

.detailContainer {
	display: flex;
	justify-content: space-evenly;
	margin-right: var(--spacing-s);
	margin-left: var(--spacing-s);
	margin-top: var(--spacing-m);
}

.vs {
	align-self: center;
	font-size: var(--font-size-xs);
}
