.fixtureInfoContainer {
	display: flex;
}

.leagueIcon {
	object-fit: contain;
	margin-right: var(--spacing-s);
}

.fixtureItemTeams {
	font-size: var(--font-size-xl);
	margin: 0 0 var(--spacing-xs) 0;
}

.teamNamesContainer {
	display: flex;
	align-items: baseline;
}

.x {
	margin: 0 var(--spacing-xs) 0 var(--spacing-xs);
}

.fixtureItemDate {
	font-size: var(--font-size-s);
	margin: 0;
}

.fixtureItemTime {
	font-size: var(--font-size-s);
	margin: 0;
}
