@import 'colors';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $yellow-light;
  text-align: center;
  overflow: hidden;
  font-size: var(--font-size-xs);
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
