@import 'colors';
@import 'sizes';

.footer {
  width: 100%;
  background-color: $yellow-light;
  text-align: center;
  overflow: hidden;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
