.container {
	display: flex;
}

.teamName {
	font-size: var(--font-size-s);
	font-weight: bold;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	overflow: hidden;
	display: -webkit-box;
}

.bestBetTeamName {
	text-transform: uppercase;
	font-weight: 900;
	color: var(--orange);
}

.bestBetTag {
	font-size: var(--font-size-xxs);
	font-weight: bold;
}
