.burguerButton {
	background: none;
	color: inherit;
	border: none;
	padding: var(--spacing-m);
	cursor: pointer;
}

@media only screen and (min-width: 576px) {
	.burguerButton {
		display: none;
	}
}
