@import 'breakpoints';
@import 'sizes';

.burguerButton {
  background: none;
  color: inherit;
  border: none;
  padding: $spacing-m;
  cursor: pointer;

  @include breakpoint_m {
    display: none;
  }
}
