@font-face {
	font-family: 'Electrolize';
	src: url('/fonts/Electrolize-Regular.ttf') format('truetype');
	font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	color: var(--brown);
	background-color: var(--white);
	font-family: 'Electrolize', sans-serif;
}

p,
h4,
div {
	margin: 0;
}
