@font-face {
	font-family: 'Electrolize';
	src: url('/fonts/Electrolize-Regular.ttf') format('truetype');
	font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Electrolize', sans-serif;
	font-size: 100%;
}

p,
h1,
h2,
h3,
h4,
div {
	margin: 0;
}

:root {
	--viewPortFactor: 1.8vw;
}

@media only screen and (min-width: 576px) {
	:root {
		--viewPortFactor: 0.7vw;
	}
}

#nprogress .bar {
	background: #ef8729 !important;
}
