@import 'sizes';
@import 'colors';

.heading {
  color: $brown;
  text-align: center;
  padding: $spacing-m 0;
}

.h1 {
  font-size: $font-size-xl;
}

.h2 {
  font-size: $font-size-l;
}

.h3 {
  font-size: $font-size-m;
}
