@import 'sizes';

.title {
  font-size: $font-size-l;
  text-align: center;
  margin-bottom: $spacing-l;
}

.subtitle {
  font-size: $font-size-m;
  text-align: center;
  margin-bottom: $spacing-m;
}
