.tag {
	font-weight: bold;
	font-size: var(--font-size-m);
	padding: var(--spacing-xs);
	border: 1px solid var(--gray);
	border-radius: 5px;
	margin: var(--spacing-xxs);
	background-color: var(--green);
}
