$red: #c85970;
$green: green;
$brown: #5a483d;
$orange: #ef8729;
$orange-light: #f6bc88;
$yellow: #e6ac00;
$yellow-light: #fbffe0;
$gray: gray;
$white: #fff8eb;
$white-light: #fefff8;
$white-darker: #f6eee7;
