/* Spacing */
$spacing-xxs: 1px;
$spacing-xs: 2px;
$spacing-s: 5px;
$spacing-m: 10px;
$spacing-l: 20px;
$spacing-xl: 30px;

/* Font size */
$VIEW_PORT_FACTOR: 1.8vw;

$font-size-xxs: calc(0.2rem + #{$VIEW_PORT_FACTOR});
$font-size-xs: calc(0.3rem + #{$VIEW_PORT_FACTOR});
$font-size-s: calc(0.5rem + #{$VIEW_PORT_FACTOR});
$font-size-m: calc(0.6rem + #{$VIEW_PORT_FACTOR});
$font-size-l: calc(1rem + #{$VIEW_PORT_FACTOR});
$font-size-xl: calc(1.3rem + #{$VIEW_PORT_FACTOR});
