@import 'breakpoints';

/* Spacing */
$spacing-xxs: 1px;
$spacing-xs: 2px;
$spacing-s: 5px;
$spacing-m: 10px;
$spacing-l: 20px;
$spacing-xl: 30px;

$font-size-xxs: calc(0.3rem + var(--viewPortFactor));
$font-size-xs: calc(0.4rem + var(--viewPortFactor));
$font-size-s: calc(0.6rem + var(--viewPortFactor));
$font-size-m: calc(0.7rem + var(--viewPortFactor));
$font-size-l: calc(1.1rem + var(--viewPortFactor));
$font-size-xl: calc(1.4rem + var(--viewPortFactor));
