/* Spacing */
$spacing-xxs: 1px;
$spacing-xs: 2px;
$spacing-s: 5px;
$spacing-m: 10px;
$spacing-l: 20px;
$spacing-xl: 30px;

/* Font size */
$font-size-xxs: 8px;
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;
$font-size-xxl: 30px;
