@import 'colors';
@import 'sizes';

.container {
  margin: $spacing-l 0;
  text-align: center;
}

.bet {
  font-weight: bold;
  font-size: $font-size-m;
  padding: $spacing-xs;
  background-color: $yellow;
  border: 1px solid $gray;
  border-radius: 5px;
  margin: $spacing-xxs;
}
