.container {
	display: flex;
}

.leagueIcon {
	object-fit: contain;
	margin-right: var(--spacing-s);
}

.teamNamesContainer {
	display: flex;
	align-items: baseline;
	font-size: var(--font-size-xl);
	margin: 0 0 var(--spacing-xs) 0;
}

.x {
	margin: 0 var(--spacing-xs) 0 var(--spacing-xs);
}

.date {
	font-size: var(--font-size-s);
	margin: 0;
}

.time {
	font-size: var(--font-size-s);
	margin: 0;
}
