@import 'sizes';

.container {
  display: flex;
}

.leagueIcon {
  object-fit: contain;
  margin-right: $spacing-s;
}

.teamNamesContainer {
  display: flex;
  align-items: baseline;
  font-size: $font-size-xl;
  margin: 0 0 $spacing-xs 0;
}

.x {
  margin: 0 $spacing-xs 0 $spacing-xs;
}

.date {
  font-size: $font-size-s;
  margin: 0;
}

.time {
  font-size: $font-size-s;
  margin: 0;
}
